{extend name="header:header"/}
{block name="content"}
<link rel="stylesheet" type="text/css" href="/admin/css/common.css">
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">     
                <div class="ibox-content col-sm-9">
                    <table class="table table-bordered table-striped">
                          <colgroup>
                            <col class="col-xs-3">
                            <col class="col-xs-7">
                            <col class="col-xs-3">
                          </colgroup>
                          <thead>
                            <tr>
                              <th>分项</th>
                              <th>内容</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {if condition="$list neq null"}
                                {volist name="list" id="vo"}
                                  <tr>
                                    <th scope="row">{$vo.title}</th>
                                    <td>
                                      {$vo.content}
                                    </td>
                                    <td><a onclick="editcopy({$vo.id})" class="btn btn-primary">编辑</a></td>
                                  </tr>
                                {/volist}
                            {/if}                         
                          </tbody>
                    </table>
                  </div>
                </div>

            </div>
        </div>
    </div>
<script src="/admin/js/wind.js"></script>
<script src="/admin/js/admin.js"></script>
<script>
    $("td,th").addClass("text-center");

      /* 弹窗 */
      function editcopy(id){
          layer.open({
                type: 2,
                area: ['900px', '500px'],
                fixed: false, //不固定
                maxmin: true,
                content: '/admin/setting/editcopy?id='+id
          });
      }
</script>
{/block}