{extend name="header:header"/}
{block name="content"}
<link rel="stylesheet" type="text/css" href="/admin/css/common.css">

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">     
                <div class="ibox-content col-sm-6">
                    <table class="table table-bordered table-striped">
                          <colgroup>
                            <col class="col-xs-7">
                            <col class="col-xs-5">
                          </colgroup>
                          <thead>
                            <tr>
                              <th>分项</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                                 <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                          </tbody>
                    </table>
                  </div>
                </div>

            </div>
        </div>
    </div>
<script src="/admin/js/wind.js"></script>
<script src="/admin/js/admin.js"></script>
<script>
    $("td,th").addClass("text-center");

</script>
{/block}