{extend name="header:header"/}
{block name="content"}
<link rel="stylesheet" type="text/css" href="/admin/css/common.css">
<link href="/admin/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<style type="text/css">
    .table-responsive th, .table-responsive td{
        text-align: center;
    }
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>邀约列表</h5>
                        <a href="{:url('/admin/dating/heterosexual')}" class="btn btn-default btn-sm" style="float: right;">返回异性直约列表</a>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="f3">
                                <thead>
	                                <tr>
	                                	<th>头像</th>
	                                	<th>昵称</th>
	                                    <th>手机号</th>
	                                    <th>约会时间</th>
	                                    <th>约会地点</th>
	                                    <th>邀约提交时间</th>
	                                    <th>是否接受</th>
	                                </tr>
                                </thead>
                                <tbody>
                                	{if condition="$list neq null"}
                                		{volist name="list" id="vo"}
		                                    <tr>
		                                    	<td>
		                                    		{if condition="$vo['icon'] neq null"}
                                                    	<a href="{:getPreviewUrl($vo['icon'])}" title="图片" data-gallery=""><img src="{:getPreviewUrl($vo['icon'])}" alt="" width="50px" height="50px"></a>
                                                    {/if}
		                                    	</td>
		                                    	<td>{$vo.u_name}</td>	
		                                    	<td>{$vo.phone}</td>	
		                                    	<td>{:date('Y-m-d H:i:s',$vo.datingtime)}</td>
		                                    	<td>{$vo.address}</td>
		                                    	<td>{:date('Y-m-d H:i:s',$vo.addtime)}</td>	
		                                    	<td>
		                                    		{switch name="$vo.status"}
		                                    			{case value="1"}-{/case}
		                                    			{case value="2"}接受{/case}
		                                    			{case value="3"}拒绝{/case}
		                                    		{/switch}
		                                    	</td>				
		                                    </tr>
	                                    {/volist}
	                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <script src="/admin/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
{/block}