{extend name="header:header"/}
{block name="content"}
<link rel="stylesheet" type="text/css" href="/admin/css/common.css">
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <!-- 基本信息 -->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加新手指引</h5>
                        <a href="{:url('/admin/setting/guideindex')}" class="btn btn-default btn-sm" style="float: right;">返回列表</a>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">标题: </label>
                                <div class="col-md-6 col-sm-10">
                                    <input name="title" type="text" class="form-control title" value="" placeholder="请输入标题" />
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">内容</label>
                                    <div class="col-md-6 col-sm-10">
                                            <script id="content" name="content" type="text/plain"></script>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary btn-sm addcategory" type="button">添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/admin/js/admin.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/admin/js/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/admin/js/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
   var ue = UE.getEditor('content');
     $(function () {
            $('.btn-cancel-thumbnail').click(function () {
                    $('#thumbnail-preview').attr('src', '/static/img/default-thumbnail.png');
                    $('#thumbnail').val('');
            });
    });
</script>
<script>
    $(document).ready(function(){
        /* 添加 */
        $('.addcategory').click(function(){
            /* 名称 */
            var title = $('.title').val();
            var content = UE.getEditor('content').getContent();

            if(title==''){
                swal({
                    title: "标题不能为空",
                    type:'error'
                });
                return false;
            }else{
                $.post('/admin/setting/addPostGuide',{title:title,content:content},function(res){
                    if(res.code==1){
                        swal({
                            title: "添加成功",
                            type: "success"
                        });
                        setTimeout(function(){
                            window.location.href="{:url('/admin/setting/guideindex')}";
                        },2000);
                    }else{
                        swal({
                            title: "添加失败",
                            type: "error"
                        });
                    }
                });
            }
        });
    });
</script>
{/block}